* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 1px;
    background-color: lighten(#000000, 5%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.section {
  height: 100vmin;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
